.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        background: linear-gradient(135deg, #F9F7F7, #DBE2EF, #3F72AF, #112D4E);
        overflow: hidden;
}
.sign .container{
    margin-top: 20px;
    background: url('../../../assets/background.jpg') no-repeat center center/cover;
    width: 70%;
    height: auto;
    padding: 0;
    border-radius: 40px;
    min-height: 600px;
    position: relative;
}
.form{
    min-height: 550px;
    width: 50%; 
    margin: 0px;
    height: 100%;
    min-height: 600px;
    float: left;
    border-radius: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
      /* Smooth box shadow */
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
      /* Smooth transition */
      transition: all 0.4s ease-in-out;
      
      /* Fade-in effect */
      transform: translateX(-50px);
      animation: fadeIn 1s forwards;
}
.form:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.form #minibtn{
    background-color:white;
}
#minibtn:hover {
    background: #DBE2EF;
} 

.sign label{
    font-weight: 400;
}
.text {
    position: absolute;
    right: 6%;
    top: 38%;
    color: #112D4E;
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    width: 40%;
}

/* Headings inside text */
.text h1 {
    font-weight: 800;
    width: 100%;
    font-size: 2.5rem;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeSlideIn 1s ease-in-out 0.5s forwards;
}

.text h5 {
    font-weight: 500;
    width: 100%;
    font-size: 0.8rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 1s ease-in-out 0.7s forwards;
}

/* Keyframes for fade-in and slide effect */
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#forget{
    font-size: 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    float: right;
    margin: -10px 0px 2px 0px;
}
@media (max-width: 868px) {
    .form {
        width: 100%;
    }
    .text{
        display: none;
    }
}