/* Apply background image */
body {
    font-family: Poppins;
    background: url('../../assets/background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center; /* Align to left */
    align-items: center;
    padding-left: 5%; /* Space from left */
    overflow: hidden;
    height: 100vh;
}

/* Hero container styles - Glassmorphism Effect */
.container.main {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    max-width: 480px;
    max-height: 500px;
    padding: 2rem;
    border-radius: 12px;
    background: none;
    margin-left: 5%;
}
#btn {
    width: 50%;
    padding: 2rem;
    border-radius: 12px;
    margin-left: 5%;
    transform: translateY(0);
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), 
                box-shadow 0.3s ease-in-out, 
                background 0.3s ease-in-out;
}

#btn:first-child{
    color: #112D4E;
}
#btn:last-child{
    color:#3F72AF;
}

/* Hover effect */
#btn:hover{
    color: #F9F7F7;
    text-decoration: none;
    background: linear-gradient(155deg, #DBE2EF, #3F72AF);
    transform: translateY(-5px);
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.25);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


/* Brand styling */
.main .brand {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}

/* Lead paragraph */
.lead {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Responsive - Center on Mobile */
@media (max-width: 768px) {
    body {display: flex;
        justify-content: center; /* Center on smaller screens */
        padding-left: 0;
        align-items: center;
        overflow-y: hidden;
    }
    
    .container.main {
        max-width: 90%;
        height: auto;
        text-align: center;
        margin: auto;
    }
    .lead {
     margin: auto;
    }
    
}
